---
title: Mission
layout: layouts/base.njk
slug: mission
---

<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50 bbm800'>
      <img class='block x' data-component='image' data-src='/images/longhouse.png' alt='longhouse' />
    </div>
    <div class='split__text p1 al f jcb fdc x text__animate c50' data-component='textAnimate'>
      <div class='split__text-s'>
        <h2 class=''>Build more simply, and more sustainably. So that more can live simply and sustainably.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>Individuals who want to build. Professionals who want to do good. Organisations and governments who need some help building better.</p>
      </div>
    </div>
  </div>
</div>


<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50 '>
      <img class='block  ma split__text-illy x p15 ' data-component='image' data-src='/images/camping-tent.png' alt='glamping' />
    </div>
    <div class='split__text p1 f jcb fdc x al c50 text__animate' data-component='textAnimate'>
      <div class='split__text-s'>
        <h2 class=''>Better sources should be crowd sourced.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>Our planet needs answers. <a href='http://are.na/infinite-places/enough-structures'><u>Here</u></a> we'll compile them here with your help.</p>
      </div>
    </div>
  </div>
</div>

<div class='bb800 rel' data-component='criteria'>
  <div class='f jcb aist fw split__text-mish'>
    <div class='c50 split__text text__animate f jcc ais p1 pm2 pym al' data-component='textAnimate'>
      <div class='split__text-inner mxa'>
        <h2 class='mb1'>Meet our criteria</h2>
        <ul class='pt1 mt1'>
          <li>
            <h3 class='s28 cg mb0 pb0'>Measurably biodegradable</h3>
            <p>In the world of sustainability, biodegradable is a tricky term. We do our best to check sources to make sure biodegradable means within 3 years or less in normal landfill conditions.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Compostable & home compostable</h3>
            <p>Composting is a faster process, but only under the right conditions¹. Some things that say compostable need an industrial compost to break down, otherwise they may stick around for hundreds of years and become microplastics in the ocean. Because of that, we only list industrially compostable products that are also biodegradable.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Renewed and recyclable</h3>
            <p>This mean post-consumer waste or waste from another source that gets upcycled into something new, and can then be recycled. If it’s just renewable but the loop ends there: it doesn’t make the list.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Regenerative</h3>
            <p>While we don’t recommend companies to encourage all of their customers to dissolve products or packaging themselves because of drought climates, regenerative usually means it degrades. We check that.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class='c50 split__text f jcc ais rel p1 pm2 pym al text__animate' data-component='textAnimate'>
      <div class='split__text-inner rel mxa'>
        <div class='mission__guarantee-button desktop abs right p15 top'>
          <button class='button caps button--clear js-guarantee'>
            <span>What we can't Guarantee</span>
          </button>
        </div>
        <h2 class='mb1 mission__hide-mobile'>Meet our criteria</h2>
        <ul class='pt1 mt1 mission__no-top-mobile'>
          <li class='strike'>
            <svg class='abs' width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99004 0C12.4134 0 16 3.58655 16 7.99004C16 12.4134 12.4134 16 7.99004 16C3.58655 16 0 12.4134 0 7.99004C0 3.58655 3.58655 0 7.99004 0ZM3.84558 4.54296L4.54296 3.84558L7.99004 7.29265L11.457 3.84558L12.1544 4.54296L8.70735 7.99004L12.1544 11.457L11.457 12.1544L7.99004 8.70735L4.54296 12.1544L3.84558 11.457L7.29265 7.99004L3.84558 4.54296Z" fill="black"/>
            </svg>
            <h3 class='s28 cb strike mb0 pb0'>Bio-based only</h3>
            <p>Most bioplastics need high temperature composting facilities to break down. As a result they often end up in landfills where, deprived of oxygen, they may release methane: a greenhouse gas 23x more potent than carbon dioxide.²</p>
          </li>
          <li class='strike'>
            <svg class='abs' width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99004 0C12.4134 0 16 3.58655 16 7.99004C16 12.4134 12.4134 16 7.99004 16C3.58655 16 0 12.4134 0 7.99004C0 3.58655 3.58655 0 7.99004 0ZM3.84558 4.54296L4.54296 3.84558L7.99004 7.29265L11.457 3.84558L12.1544 4.54296L8.70735 7.99004L12.1544 11.457L11.457 12.1544L7.99004 8.70735L4.54296 12.1544L3.84558 11.457L7.29265 7.99004L3.84558 4.54296Z" fill="black"/>
            </svg>
            <h3 class='s28 cb strike mb0 pb0'>Recyclable only</h3>
            <p>The U.S. recycling rate is only 32% according to the 2020 State of Curbside Recycling Report.³ Things that are recyclable doesn’t mean they get recycled. Globally, only 9% of plastic gets recycled⁴. Recycling isn’t the answer.</p>
          </li>
          <li class='strike'>
            <svg class='abs' width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99004 0C12.4134 0 16 3.58655 16 7.99004C16 12.4134 12.4134 16 7.99004 16C3.58655 16 0 12.4134 0 7.99004C0 3.58655 3.58655 0 7.99004 0ZM3.84558 4.54296L4.54296 3.84558L7.99004 7.29265L11.457 3.84558L12.1544 4.54296L8.70735 7.99004L12.1544 11.457L11.457 12.1544L7.99004 8.70735L4.54296 12.1544L3.84558 11.457L7.29265 7.99004L3.84558 4.54296Z" fill="black"/>
            </svg>
            <h3 class='s28 cb strike mb0 pb0'>Renewed only</h3>
            <p>Upcycling is only a solution if what it yields is permanent and non-disposable. For things that get made and replaced, the loop should not end. If it’s made of waste and stops there, it’s better but not good enough.</p>
          </li>
          <li class='strike'>
            <svg class='abs' width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99004 0C12.4134 0 16 3.58655 16 7.99004C16 12.4134 12.4134 16 7.99004 16C3.58655 16 0 12.4134 0 7.99004C0 3.58655 3.58655 0 7.99004 0ZM3.84558 4.54296L4.54296 3.84558L7.99004 7.29265L11.457 3.84558L12.1544 4.54296L8.70735 7.99004L12.1544 11.457L11.457 12.1544L7.99004 8.70735L4.54296 12.1544L3.84558 11.457L7.29265 7.99004L3.84558 4.54296Z" fill="black"/>
            </svg>
            <h3 class='s28 cb strike mb0 pb0'>Harmful alternatives</h3>
            <p>We do our best to research a product’s resources, lifecycle, manufacturing impact and make sure that alternative materials are not just alternative: but better. This isn’t easy work and we’re always auditing and improving.</p>
          </li>
        </ul>

        <div class='mission__guarantee-button mobile x ac p15 top'>
          <button class='button caps button--clear js-guarantee'>
            <span>What we can't Guarantee</span>
          </button>
        </div>
        <p class='serif'>Sources: <a href='https://www.epa.gov/sustainable-management-food/types-composting-and-understanding-process' class='cg underline' rel='noopener' target="_blank">1</a>, <a href='https://blogs.ei.columbia.edu/2017/12/13/the-truth-about-bioplastics/' class='cg underline' rel='noopener' target="_blank">2</a>, <a href='https://recyclingpartnership.org/wp-content/uploads/dlm_uploads/2020/02/2020-State-of-Curbside-Recycling.pdf' class='cg underline' rel='noopener' target="_blank">3</a>, <a href='https://www.efe.com/efe/english/world/un-warns-globally-only-9-percent-of-plastic-waste-is-recycled/50000262-3638548' class='cg underline' rel='noopener' target="_blank">4</a>.</p>
      </div>
    </div>
  </div>
  <div class='fix bottom mission__guarantee x bcg'>
    <div class='abs right top m1 mission__guarantee-close'>
      <button class='js-close-guarantee p1'>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="white"/>
        </svg>
      </button>
    </div>
    <div class='f al jcb ais p15 mxa x cw fw'>
      <div class='x c30'>
        <p class='serif s28'>
          In our listings you’ll find tags that say things like “Claims closed loop” or “Claims renewable energy”. We list these as claims because we cannot confirm these parts of the manufacturing process without site visits or certifications.
        </p>
      </div>
      <div class='c60 f jcb fw ais'>
        <div class='x c50'>
          <ul class='mt1'>
            <li class='s28'>Zero waste</li>
            <li class='s28'>Low emissions</li>
            <li class='s28'>Renewable energy</li>
            <li class='s28'>Ethically produced</li>
          </ul>
        </div>
        <div class='x c50'>
          <ul class='mb1'>
            <li class='s28'>Carbon neutrality</li>
            <li class='s28'>Low water usage</li>
            <li class='s28'>Closed loop</li>
            <li class='s28'>Renewable natural energy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='btm800'>
  <img class='block x' data-component='image' data-src='/images/sufficiency-baby.png' alt='sufficiency is key' />
</div>

<div class='beliefs bt bcw'>
  <div class='outer p1 ac bb'>
    <h2 class='s40'>The beliefs we're built on</h2>
  </div>
  <div class='f jcb aist fw'>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img data-component='image' data-src='/images/litte-steps.png' alt='little steps' />
        <p class='serif'>Iteration and transparency means admitting we don't have all the answers. But that openness we believe, will bring those answers to us, through trial and error.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img data-component='image' data-src='/images/open-source.png' alt='open source' />
        <p class='serif'>All the resources are on Are.na. We'll share our knowledge and you help us get better at meeting our goals.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <div class='rel icon inline-block'>
            <img data-component='image' data-src='/images/plat-form.png' alt='platform' />
            <p class='serif'>This platform is a cooperative. If you see a place for yourself to do some good on here, get in touch and we'll share the work!</p>
    </div>
  </div>
</div>

<div class='pym bb800 pyl oh x'>
  <div class='outer mission__better-wrapper '>
    <div class='container container--l rel ac'>
      <h3 class='s40 my1 py1 mxa'>Always working our way to better</h3>
      <img data-component='image' data-src='/images/telescope.png' alt='network search' class='abs z1 mission__better-computer top right' />
    </div>
    <div class='container--w mxa'>
      <div class='f jcb aist ba mission__better-block fw'>
        <div class='bcb cw c50 p1 f jcc aic mission__better-img x'>
          <img class=' mxa' data-component='image' data-src='/images/mission-ascii-house.png' alt='house ascii' />
        </div>
        <div class='bcw p1 c50 f jcs mission__better-text aic'>
          <div>
            <h4 class='s28 mb1'>Open source and open plans</h4>
            <p>We put our best foot foward to share these sources but we have more ideas. We’ve laid our plans out and are open source on Github, so you can explore anytime or even volunteer with us to help build new features.</p>
            <a href='/versioning' class='button ac mt1 caps'>See our plans</a>
          </div>
        </div>
      </div>
      <div class='f jcb aist ba mission__better-block fw'>
        <div class='bclg bbm800 cw c50 p1 f jcc aic mission__better-img x'>
          <img class=' mxa' data-component='image' data-src='/images/mission-ascii-flowers.png' alt='house ascii' />
        </div>
        <div class='bcw p1 c50 f jcs mission__better-text aic'>
          <div>
            <h4 class='s28 mb1'>Reducing our impact</h4>
            <p>Websites can be Enough, too. From using dithered images, to being careful about when we’re calling and fetching data: see how we’re tracking and measuring our own footprint.</p>
            <a href='/versioning' class='button ac mt1 caps'>Read all about it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50 bbm800'>
      <img class='block x' data-component='image' data-src='/images/checkered-perspective.png' alt='barn living' />
    </div>
    <div class='split__text p1 f jcb fdc x al c50 text__animate'  data-component='textAnimate'>
      <div class='split__text-s mb1 pb1'>
        <h2 class=''><span class='cg'>Q:</span> How do we slow down the problem?</h2>
      </div>
      <div class='split__text-s'>
        <h2 class=''><span class='cg'>A:</span> Together.</h2>
        <p class='serif s20'>Sustainability: now a priority. While we keep wasting: things compound, damage gets greater –– and our environment and selves are hurt in the process. Commerce needs a considerable cleanup: take action.</p>
      </div>
    </div>
  </div>
</div>

<div class='bb800 btm800'>
  <div class='outer p1 ac py3 container--m pym mxa'>
    <h3>Environmentally Complimentary</h3>
    <p class='serif s20'>Reach out and reimagine your footprint with us. We’re looking for partners to track and tell the story of reducing at scale. We’d love to hear from you: <a href='mailto:info@enough-structures.net'>info@enough-structures.net</a></p>
  </div>
</div>

<div class='rel pym mission__straws btm800'>
  <div class='outer p1 py3 ac container--m pym mxa rel z1 cw'>
    <h3 class='h1 mb05 pb0'>Get resourceful about your sources</h3>
    <a href="" class="button caps">Browse our Listings</a>
  </div>
  <img class='block abs y x mission__straws-img top left' data-component='image' data-src='/images/checkboard.png' alt='inner courtyard' />
</div>