
<meta name="description" content="{{ renderData.description or "Regenerative Living Environments Development Partner." }}">
<meta property='og:locale' content='en_US' />
<meta property='og:image' content='{{ renderData.image or "https://enoughstructures.com/images/opengraph.jpg"}}' />
<meta property='og:title' content='{% if renderData.title %}{{renderData.title}} - {% endif %}Waste Not' />
<meta property='og:url' content='https://enoughstructures.com/{{ slug or ""}}{{ renderData.slug or ""}}' />
<meta property='og:site_name' content='Enough Structures' />
<meta property='og:description' content='{{ renderData.description or "Coliving and coworking real estate developer for regenerative communities."}}' />
<meta name='twitter:site' content='@enough-structures' />
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:title' content='{% if renderData.title %}{{renderData.title}} - {% endif %}Enough Structures' />
<meta name='twitter:image:src' content='{{ renderData.image or "https://enoughstructures.com/images/opengraph.jpg"}}' />
<meta name='twitter:description' content='{{ renderData.description or "Regenerative Living Environments Development Partner."}}' />